node_modules/
/contents/images/speaker/*
/contents/images/sponsor/*
/contents/artists/*
/contents/mcs/*
/contents/talks/*
/contents/team/*
/contents/speakers/*
/contents/bipocit-space-speakers/*
/contents/sponsors/*
/contents/cms/*
/contents/news/*
/contents/preview/*
/contents/redirects/*
/build
.\#*
.DS_Store
/.wwwtfrc
/service-account-credentials.json
/secrets.tar
/contents/schedule.json