language: node_js
node_js:
- '8'

script:
  - npm run-script generate-locals
  # - npm run-script generate-redirects
  - npm run-script build
  # Because we build again, move the non-deploy build out of the way.
  # - mv build test-build

before_deploy:
# - openssl aes-256-cbc -K $encrypted_92a5b1b18fab_key -iv $encrypted_92a5b1b18fab_iv -in secrets.tar.enc -out secrets.tar -d
# - tar xvf secrets.tar
# - npm run-script ci:import
# - npm run-script build
# - node tests/post-build.js

deploy:
  # Fix broken deployment due to
  # https://github.com/travis-ci/travis-ci/issues/9312
  edge:
    branch: v1.8.47
  provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  local_dir: build
  on:
    branch: master

