{% from "../_macros.njk" import svgIcon %}

<footer>
  <div class="footer-zigzag bg--evalblack">
    <div class="footer-links tc">
      <a class="link--white link--footer" href="https://twitter.com/jsconfeu">Twitter</a>
      <a class="link--white link--footer" href="https://www.youtube.com/jsconfeu">YouTube</a>
      <a class="link--white link--footer" href="http://eepurl.com/dvQxb5">Newsletter</a>
      <a class="link--white link--footer" href="{{ contents['code-of-conduct.json'].url }}">Code of Conduct</a>
      <a class="link--white link--footer" href="{{ contents['imprint.json'].url }}">Imprint</a>
      <a class="link--white link--footer" href="{{ contents['privacy-policy.json'].url }}">Privacy Policy</a>
    </div>

    <div class="footer-pattern">
      <div class="main-wrapper main-wrapper-compact tc">
        <h2 class="heading--massive heading--footer">Special thanks to our sponsors</h2>
        <div class="footer-sponsors">
          {% include "../partials/sponsors-grid.html.njk" %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy footer-copy-zigzag">
    <div class="main-wrapper main-wrapper-compact">
      JSConf 2019
      {{ svgIcon(contents, 'jsconf-heart', width = 40, height = 40, alt = 'JSConf EU') }}
    </div>
  </div>
</footer>
