{% if data.image.filename %}
  <figure class="ma0 speaker-picture">
    <img
        loading="lazy"
        decoding="async"
        src="{{ contents.images.cms[data.image.filename_square_1000].url }}"
        srcset="{{
          contents.images.cms[data.image.filename_square_200].url }} 200w, {{
          contents.images.cms[data.image.filename_square_500].url }} 500w, {{
          contents.images.cms[data.image.filename_square_1000].url }} 1000w"
        sizes="33vw"
        alt="Portrait photo of {{ data.firstname }} {{ data.lastname }}">
  </figure>
{% else %}
  <figure class="ma0 speaker-picture">
    <img
        loading="lazy"
        decoding="async"
        src="{{ contents.images.placeholder['speaker-placeholder-' + ((data.firstname or "x").codePointAt(0) % 6) + '.jpg'].url }}"
    alt="Photo of a bear used as a placeholder because of a missing image.">
  </figure>
{% endif %}
