{% if data.image.filename %}
  <figure class="ma0 speaker-picture">
    <img
        src="{{ contents.images.cms[data.image.filename_square_1000].url }}"
        alt="Portrait photo of {{ data.firstname }} {{ data.lastname }}"
        data-aspect-ratio="{{ (data.image.height / data.image.width) * 100 }}%">
  </figure>
{% else %}
  <figure class="ma0 speaker-picture">
    <img src="https://placebear.com/400/400">
  </figure>
{% endif %}
