{% if speaker.image.filename %}
  <figure class="ma0 speaker-picture">
    <img src="{{ contents.images.speaker[speaker.image.filename].url }}"
        alt="Portrait photo of {{ speaker.firstname }} {{ speaker.lastname }}"
        data-aspect-ratio="{{ (speaker.image.height / speaker.image.width) * 100 }}%">
  </figure>
{% else %}
  <figure class="ma0 speaker-picture">
    <img src="https://placebear.com/400/400">
  </figure>
{% endif %}
