<div class="youtube">
  <iframe src="https://www.youtube.com/embed/{{ youtubeId }}"
          frameborder="0"
          allowfullscreen="true">
  </iframe>
  <!-- Preconnect to poster image host -->
  <link rel="preconnect" href="https://i.ytimg.com/">
</div>
