{% extends "../layouts/default.html.njk" %}

{% block bodyclass %}page-about{% endblock %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center md-content">

      {{ page.html | contentUrls(contents) }}

      <h2 id="location">Location</h2>
      <p>
        <a href="{{ venue.mapLink }}">
          {{ venue.name }}. {{ venue.address }}, 12435 Berlin, Germany
        </a>
      </p>

      <h2 id="services">Services</h2>
      <p>
        This is a preliminary list of services we’re offering on-site, so you know what you can expect when attending JSConf EU. Be sure to return to this section, to see what other services we have added over time. <strong>Everything on this list is included in the ticket price, </strong>(except for textile printing). If you have any questions, do <a href="mailto:contact@jsconf.eu?subject=Services">get in touch</a>.
      </p>

      <h3 id="essentials">Breakfast, Lunch, Dinner, Drinks, Wifi</h3>
      <p>
        We’re covering all three meals of a day for you with five-star, prepared on-site, fresh and nutritious dishes, and options for many common diets.
      </p>

      <p>
        We also serve tasty beverages at all hours, from non-sugar options and your favourite mate options, as well as our renowned Espresso bar.
      </p>

      <p>
        We understand Wifi and internet access are important if you are in a new place with a lot of strangers, so we’ve equipped our venue with all modern 5GHz Wifi that works. Please <a href="mailto:contact@jsconf.eu?subject=2.4GHz-Wifi">get in touch</a> if you need access to a 2.4GHz band for legacy devices.
      </p>

      <h3 id="captioning">Live Captioning</h3>
      <p>
        All talks on our two main stages are live captioned on separate screens to the side of each stage with ample seating for anyone who needs or enjoys subtitles.
      </p>

      <h3 id="childcare">Childcare</h3>
      <p>
        Parents welcome, bring your 3yo+s! When buying a ticket, you can signify that you are interested in using our childcare services. If there are any things you want to sort out beforehand, please <a href="mailto:contact@jsconf.eu?subject=Childcare">get in touch</a>.
      </p>

      <h3 id="prayer">Prayer Room</h3>
      <p>
        We have a dedicated prayer room that attendees are welcome to use one at a time. At the conference, talk to any staff member to access it.
      </p>

      <h3 id="medics">Medics</h3
      <p>
        We have medical services standing by on-site for any eventualities.
      </p>

      <h3 id="textiles">Textile Print Workshop</h3>
      <p>
        Instead of giving away the same t-shirt to every attendee, we decided to turn things around and invite a local textile print service to set up shop at JSConf EU. We’re inviting everyone to submit print screen motives for our attendees to print and customize their favourite garments. Making a print screen is about 60€, if you want to commission one, please <a href="mailto:contact@jsconf.eu?subject=Textile-Motives">get in touch</a>.
      </p>

      <p>For attendees, bring your favourite shirts, socks, skirts and totes to get them customised on site. There are also going to be a variety of textiles available for purchase. Prints are for pay, cash only.</p>

      <h3 id="community">Community Lounge</h3>
      <p>
        A conference inside a conference, the Community Lounge runs it’s own separate-from-the-main-stages events to highlight technology initiatives local to Berlin and Europe. More information about this will be published shortly.
      </p>

      <h3 id="quiet">Quiet Room</h3>
      <p>
        For people who need a break from the hustle and bustle of the event, we offer a dedicated quiet area that fits about 20 people in total. This is, however, not a quiet chamber devoid of any sensory input, and more a place to hang out and recharge away from the main conference.
      </p>

      <!-- TBD a11y statement & bpocit space -->


      <h2 id="videos">Videos</h2>
      <p>
        {% set youtubeId = 'zNk28iHdoFk' %}
        {% include '../partials/youtube.html.njk' %}
      </p>
      <p>
        {% set youtubeId = '-mxPPmQs2G8' %}
        {% include '../partials/youtube.html.njk' %}
      </p>
      <p>
        {% set youtubeId = 'VHbnuNng0M8' %}
        {% include '../partials/youtube.html.njk' %}
      </p>
    </div>
  </section>

  {% macro teamMember(contents, speaker) %}
    <section class="grid-item-speaker">
      {% if speaker.links.twitter %}
        <a class="speaker" href="{{ speaker.links.twitter }}">
      {% endif %}
        {% include '../partials/speaker-picture.html.njk' %}
        <h2 class="heading--spaced heading--no-border">
          {{ speaker.firstname }} {{ speaker.lastname }}
        </h2>
        <p class="ma0">
          {% if speaker.twitterHandle %}
            {{ speaker.twitterHandle }}<br>
          {% endif %}
        </p>
      {% if speaker.links.twitter %}
        </a>
      {% endif %}
    </section>
  {% endmacro %}

  {% set team = contents.team._.pages %}

  <section class="grid">
    <div class="grid-item-center">
      <h1 id="team">Organizing team</h1>
    </div>
  </section>

  <div class="grid">
    {% for page in team %}
      {% set speaker = page.metadata.data %}
      {% if speaker.core %}
        {{ teamMember(contents, speaker) }}
      {% endif %}
    {% endfor %}
  </div>

  <section class="grid">
    <div class="grid-item-center">
      <h1 id="volunteer-team">Volunteer team</h1>
    </div>
  </section>

  <div class="grid">
    {% for page in team %}
      {% set speaker = page.metadata.data %}
      {% if not speaker.core %}
        {{ teamMember(contents, speaker) }}
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
