{% extends "../layouts/default.html.njk" %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ contents.copy.coc['code-of-conduct.md'].html }}
    </div>
  </section>

{% endblock %}
