{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import svgIcon %}

{% block header %}{% endblock %}

{% block content %}
  <section class="tc grid mb6 mb7-l">
    <div class="grid-item-center">
      {{ svgIcon(contents, 'jsconf-logo-full', width = 564, height = 84, alt = 'JSConf EU') }}
    </div>
    <p class="grid-item-center">
      {{ fullConferenceDate }} &mdash; Berlin, Germany
      <br>
      JSConf EU is the labour-of-love conference for the JavaScript community in Europe.
      <br>
      Our 2019 homepage is currently under construction. Please check back soon.
    </p>
    <p class="grid-item-center">
      <a href="{{ buyTicketsLink }}" class="btn buy-ticket">
        Buy ticket
      </a>
    </p>
  </section>

{% endblock %}
