{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import svgIcon %}

{% block header %}{% endblock %}

{% block bodyclass %}page-index{% endblock %}

{% block main %}
  <section class="section-intro">
    <div class="section-intro-background">
      <div class="grid">
        <div class="grid-item-full relative-l">
          <a id="intro"
               href="/x/"
               data-src="{{ contents.js['lottie.js'].url }}"
               class="section-intro-lottie">
            <!-- The icon is here just for sizing. -->
            {{ svgIcon(contents, 'jsconf-heart', width = 500, height = 500, alt = 'JSConf EU heart') }}
            <link rel="preload" href="{{ contents.js['lottie.js'].url }}" as="script">
          </a>
          <a class="section-intro-festival" href="/x/">
            {{ svgIcon(contents, 'festival', width = 520, height = 124, alt = 'festival') }}
          </a>
          <div class="section-intro-logo">
            {{ svgIcon(contents, 'jsconf-logo-white-full', width = 258, height = 39, alt = 'JSConf EU') }}
          </div>
          <p class="mt4 mb4">
            {{ fullConferenceDate }} &mdash; Berlin, Germany
            <br>
            JSConf EU is the labour-of-love conference for the JavaScript community in Europe.
          </p>
          <p>
            <a href="{{ buyTicketsLink }}" class="dib btn btn--white btn--center">
              Buy ticket
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-cfs">
    <div class="grid">
      <div class="grid-item-full">
        <div class="section-ornament section-ornament--right" id="csf-homepage">
          <h2 class="heading--massive heading--section">Talks at JSConf EU</h2>
          <p class="mr6-l">
            Learn about GraphQL, DevOps, Machine Learning, Accessibility,
            New and upcoming JavaScript features,
            JavaScript frameworks like React, Vue, and Angular,
            Node.js, Web performance, and Progressive Web Apps.
          </p>
          <p class="mr6-l">
            <a href="/speakers/" class="dib btn btn--evalblack btn--center">
              Meet our speakers
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <a class="section-video inline-video-link"
      href="https://www.youtube.com/watch?v=zNk28iHdoFk"
      target="_blank">
    <div class="section-video-icon">
      {{ svgIcon(contents, 'play', width = 86, height = 86, alt = 'Play') }}
    </div>
    <div class="section-video-text ttu mb4 tc">Impressions of JSConf EU 2018</div>
  </a>



  <div class="section-news section-last">
    <div class="grid">
      <div class="grid-item-full">
        <div class="section-ornament section-ornament--left">
          {% import "../partials/news-grid.html.njk" as news %}
          {{ news.grid(contents, moment, false) }}
        </div>
      </div>
    </div>
  </div>

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Event",
  "name": "JSConf EU 2019",
  "url": "https://2019.jsconf.eu/",
  "description": "JSConf EU is the labour-of-love conference for the JavaScript community in Europe.",
  "startDate": "06/01/2019 8:00AM",
  "endDate": "06/02/2019 07:00PM",
  "image": "https://2019.jsconf.eu/android-chrome-512x512.png",
  "performer": "Over 50 speakers from around the globe",
  "location": {
    "@type": "Place",
    "name": "Arena Berlin",
    "sameAs": "https://www.arena.berlin/en/",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Eichenstraße 4",
      "addressLocality": "Berlin",
      "postalCode": "12435",
      "addressCountry": "Germany"
    }
  },
  "offers": {
    "@type": "Offer",
    "description": "Regular and combo tickets",
    "url": "https://ti.to/jsconfeu/jsconf-eu-x-2019"
  }
}
 </script>
{% endblock %}
