{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import svgIcon %}

{% block header %}{% endblock %}

{% block content %}
  <section class="tc grid mb6 mb7-l">
    <div class="grid-item-center">
      {{ svgIcon(contents, 'jsconf-logo-full', width = 564, height = 84, alt = 'JSConf EU') }}
    </div>
    <p class="grid-item-center">
      {{ fullConferenceDate }} &mdash; Berlin, Germany
      <br>
      JSConf EU is the labour-of-love conference for the JavaScript community in Europe.
    </p>
    <p class="grid-item-center">
      <a href="{{ buyTicketsLink }}" class="btn buy-ticket">
        Buy ticket
      </a>
    </p>
  </section>

  <section class="tc tl-l grid grid-5-4 mb6 mb7-l">
    <h2 class="heading--massive grid-head mt0">
      People First. Always.
    </h2>
    <div class="grid-content">
      <h3 class="heading--spaced mt0">
        Code of Conduct
      </h3>
      <p>
        All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. <a href="{{ contents['code-of-conduct.json'].url }}" class="link--underline">Read the Code of Conduct</a>
      </p>
    </div>
  </section>

{% endblock %}
