{% extends "../layouts/default.html.njk" %}

{% block bodyclass %}page-news{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% import "../partials/news-grid.html.njk" as news %}
<div class="grid">
  <div class="grid-item-full">
    <div class="section-ornament section-ornament--left">
      {% set list = [
            contents.cms['faq.md'],
            contents.cms['services.md'],
            contents.cms['schedule.md'],
            contents.news['how-to-get-to-jsconf-eu-and-cssconf-eu.md'],
            contents.news['food-at-the-conference.md'],
            contents.cms['accessibility.md'],
            contents.cms['community-lounge.md'],
            contents.cms['bipocit-space.md'],
            contents.cms['ramadan.md'],
            contents.news['travel-hotels-and-transport.md'],
         ] %}


      <h2 class="heading--massive heading--section">
        Information for attendees and future attendees
      </h2>
      <div class="news-grid mt4">
        {{ news.renderGrid(contents, list, moment) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
