{% extends "../layouts/default.html.njk" %}

{% block bodyclass %}page-news{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% import "../partials/news-grid.html.njk" as news %}
<div class="grid">
  <div class="grid-item-full">
    <div class="section-ornament section-ornament--left">
      {% set list = [
            contents.cms['faq.md'],
            contents.cms['services.md'],
            contents.cms['accessibility.md'],
            contents.cms['why.md'],
            contents.news['how-to-convince-your-boss-to-buy-you-a-conference-ticket-to-jsconf-eu.md']
         ] %}


      <h2 class="heading--massive heading--section">
        Information for attendees and future attendees
      </h2>
      <div class="news-grid mt4">
        {{ news.renderGrid(contents, list, moment) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
