{% extends "../layouts/default.html.njk" %}

{% block bodyclass %}page-news{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="grid">
  <div class="grid-item-full">
    <div class="section-ornament section-ornament--left">
      {% include "../partials/news-grid.html.njk" %}
    </div>
  </div>
</div>
{% endblock %}
