{% extends "../layouts/default.html.njk" %}

{% block bodyclass %}page-news{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% import "../partials/news-grid.html.njk" as news %}
<div class="grid">
  <div class="grid-item-full">
    <div class="section-ornament section-ornament--left">
      {{ news.grid(contents, moment, false) }}
      {{ news.grid(contents, moment, true) }}
    </div>
  </div>
</div>
{% endblock %}
