{% extends "../layouts/default.html.njk" %}

{% block bodyclass %}page-newsletter{% endblock %}

{% block content %}
  <section class="grid">
    <div class="grid-item-center md-content">
      <iframe src="https://jsconf.us11.list-manage.com/subscribe?u=7a8adcde0f3c219f61b12a94c&id=e13530917b"
          width="100%"
          frameborder="0"
          height="2000">
      </iframe>
    </div>
  </section>
{% endblock %}
