{% extends "../layouts/default.html.njk" %}

{% block content %}
  <article class="grid">
    <div class="grid-item-center md-content">
      {% if page.metadata.image %}
      <div style="padding-top:{{ contents.images[page.metadata.image].getImageInfo().aspectPercentage }}%;overflow:hidden;position:relative">
        <img src="{{ contents.images[page.metadata.image].url }}"
          style="position:absolute;top:0;left:0;right:0;bottom:0">
      </div>
      {% endif %}
      {{ page.html }}
    </div>

    <div class="grid-item-center">
      <a href="https://ti.to/jsconfeu/jsconf-eu-x-2019" class="btn buy-ticket">Buy Ticket</a></p>
    </div>
  </article>
{% endblock %}