{% extends "../layouts/default.html.njk" %}

{% block header %}{% endblock %}

{% block content %}
  <h1>Just a placeholder to make wintersmith directory iteration work</h1>
{% endblock %}

{% block extraMetaData %}
  <meta name="robots" content="noindex">
{% endblock %}