{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import scholarshipApplyButton %}

{% block bodyclass %}page-scholarships{% endblock %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ contents.copy.scholarships['introduction.md'].html }}
      <h3 style="color: #f76272;">Scholarship applications have closed since the 11th of March!</h3>
    </div>
  </section>

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ contents.copy.scholarships['voting.md'].html }}
    </div>
  </section>

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ contents.copy.scholarships['faq.md'].html }}
    </div>
  </section>

{% endblock %}
