{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import artistMcGrid %}

 {% macro phantoms(contents, totalCount, releasedCount) %}
    {% for phantom in range(0, totalCount - releasedCount) %}
      <section class="grid-item-speaker phantom">
        <div class="speaker">
          <figure class="ma0 speaker-picture">
            <img
                loading="lazy"
                src="{{ contents.images.placeholder['speaker-placeholder-' + (phantom % 6) + '.jpg'].url }}"
                alt="Photo of a bear used as a placeholder because of a missing image.">
          </figure>
          <h2 class="heading--spaced heading--no-border">Coming soon</h2>
          <p class="ma0">To be announced on <a href="https://twitter.com/jsconfeu">@jsconfeu</a></p>
        </div>
      </section>
    {% endfor %}
  {% endmacro %}

{% set speakerPages = contents.speakers._.pages |
    notRedirect |
    sortObjects('metadata.speaker.order', 100, 'number') |
    reverse %}

{% block bodyclass %}page--speakers{% endblock %}
{% block header %}
  <section class="grid">
    <div class="grid-item-left">
      <h1 id="speakers">Speakers</h1>
    </div>
  </section>
{% endblock %}

{% block content %}

  <div class="grid">
    {% for page in speakerPages %}
      <section class="grid-item-speaker">
        <a class="speaker" href="{{ page.url }}">
          {% set data = page.metadata.data %}
          {% include '../partials/speaker-picture.html.njk' %}

          <h2 class="heading--spaced heading--no-border">{{ data.name }}</h2>
          <p class="ma0">{{ data.talkTitle }}</p>
        </a>
      </section>
    {% endfor %}

    {{ phantoms(contents, 48, speakerPages.length) }}
  </div>  

  <section class="grid">
    <div class="grid-item-left">
      <h1 id="mcs">MCs</h1>
    </div>
  </section>

  {% set mcsPages = contents.mcs._.pages |
  notRedirect |
  sortObjects('metadata.data.name', 100, 'string') %}

  {{ artistMcGrid(contents, mcsPages) }}

  <section class="grid">
    <div class="grid-item-left">
      <h1 id="bipocit-speakers">BIPoCiT Speakers</h1>
    </div>
  </section>

  {% set bipocitSpeakerPages = contents['bipocit-speakers']._.pages |
  notRedirect %}

  {{ artistMcGrid(contents, bipocitSpeakerPages) }}
{% endblock %}

{% block footer %}
  <!-- Exclude sponsors because this page is super long without them already -->
  {% include "../partials/footer-small.html.njk" %}
{% endblock %}
