{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import speakersGrid %}

{% set speakerPages = contents.speakers._.pages |
    notRedirect |
    sortObjects('metadata.speaker.order', 100, 'number') |
    hasVideo |
    reverse %}

{% block bodyclass %}page--speakers{% endblock %}
{% block header %}
  <link rel="preconnect" href="https://www.youtube.com/">
  <section class="grid">
    <div class="grid-item-left">
      <h1 id="speakers">Videos</h1>
      <p>Videos are being released on a day-by-day basis. Check back often for additional videos.</p>
    </div>
  </section>
{% endblock %}

{% block content %}
  {{ speakersGrid(contents, speakerPages, false) }}
{% endblock %}

