
body {
  background-image: url('contents:images/background-pattern-cross.svg');
  background-position: 50% 40%;
  background-size: 250%;
  background-attachment: fixed;
  background-repeat-x: no-repeat;
}

/* background-position is set randomly in default.html.njk */
