/* Default Layout */
::selection{
 color:var(--x-white);
  background: var(--x-purple);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-wrapper {
  --outer-margin: 1.5rem;
  width: calc((100%) - (2 * var(--outer-margin)));
  max-width: 87.5rem; /* 1400px */
  margin-top: var(--outer-margin);
  margin-right: auto;
  margin-bottom: var(--outer-margin);
  margin-left: auto;
  overflow: hidden;
  @media (--small) {
    --outer-margin: 2rem;
  }
  @media (--xlarge) {
    --outer-margin: 5rem;
  }
}

.main-wrapper-compact {
  margin-bottom: 0;
  margin-top: 0;
}

.main-wrapper-shadowed {
  box-shadow: 0 0 2rem 0 rgba(48,63,98,0.12);
}

.main-wrapper-padded {
  padding-top: 2rem;
  padding-bottom: 3rem;
  @media (--small) {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  @media(--medium) {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
  @media (--xlarge) {
    padding-top: 10rem;
    padding-bottom: 12rem;
  }
}

/*  GRID
  Set up the main grid template.
  12 columns, limited to 960px width.
  With a fluid outer margin formed by the first and last column.
*/
.grid {
  display: grid;
  grid-template-columns: 1rem repeat(12, minmax(1rem, 3.75rem)) 1rem;
  grid-gap: .25rem;
  @media (--small) {
    grid-template-columns: 1fr repeat(12, minmax(1rem, 3.75rem)) 1fr;
    grid-gap: 1.25rem;
  }
}

/* Grid Items Placement */

.grid-item-center {
  grid-column: 3 / span 10;
  @media (--small) {
    grid-column: 4 / span 8;
  }
}

.grid-item-speaker {
  grid-column: 4 / span 8;
  margin-top: 4rem;
}


.grid-item-sponsor {
  grid-column: 2 / span 12;
  @media (--small) {
    grid-column: 3 / span 10;
  }
}

.grid-item-full {
  grid-column: 2 / span 12;
}

@media (--small) {
  .grid-item-speaker {
    margin-top: 0;
  }
  .grid-item-speaker:nth-child(2n+1) {
    grid-column: 3 / span 4;
  }
  .grid-item-speaker:nth-child(2n+2) {
    grid-column: span 4 / -3;
    margin-top: 14rem;
  }
}

@media (--large) {
  .grid-item-speaker:nth-child(2n+2) {
    margin-top: 0;
  }
  .grid-item-speaker:nth-child(4n+1) {
    grid-column: 5/span 3;
  }
  .grid-item-speaker:nth-child(4n+2) {
    grid-column: 11/span 3;
  }
  .grid-item-speaker:nth-child(4n+3) {
    grid-column: 2 / span 3;
  }
  .grid-item-speaker:nth-child(4n+4) {
    grid-column: 8 / span 3;
  }
}

/* Grid Areas
  These are used for grid patterns that we re-use in multiple places,
  e.g. a 4 column wide heading next to a 5 column wide content block, or
  e.g. an image pulled out of the 12 inner columns to the edge of the most outer column.
*/

.grid-head {
  grid-area: a;
  z-index: 1;
}

.grid-content {
  grid-area: b;
  z-index: 1;
}

.grid-c {
  grid-area: c;
  z-index: 1;
}

.grid-media {
  grid-area: m;
  max-width: auto;
  width: 100%;
  z-index: 1;
}

.grid-4-5 {
  grid-template-areas:
    ". a a a a a a a a a a a a ."
    ". b b b b b b b b b b b b ."
  ;
  @media (--medium) {
    grid-template-areas:
      ". . a a a a a b b b b . . ."
    ;
  }
}

.grid-5-4 {
  grid-template-areas:
    ". a a a a a a a a a a a a ."
    ". b b b b b b b b b b b b ."
  ;
  @media (--medium) {
    grid-template-areas:
      ". . . b b b b b a a a a . ."
    ;
  }
}

.grid-pull-content-6-end,
.grid-pull-content-6-start {
  grid-template-areas:
    ". . . m m m m m m m m . . ."
  ;
}

.grid-pull-content-6-start {
  @media (--small) {
    grid-template-areas:
    "m m m m m m m . . . . . . ."
    ;
  }
}

.grid-pull-content-6-end {
  @media (--small) {
    grid-template-areas:
      ". . . . . . . m m m m m m m"
    ;
  }
}

/* Position Call Out Headings */

.grid-call-out-cfs {
  grid-template-areas:
    ". c c c c c c c c c c c c ."
    ". . . m m m m m m m m . . ."
  ;
  @media (--medium) {
    grid-template-areas:
      "m m m m m m . c c c c c c ."
    ;
  }
}

/* Position Ornaments */
.grid-form-home-cfs,
.grid-form-home-coc,
.grid-form-cfs-01 {
  display: none;
}

@media (--medium) {
  .grid-form-home-cfs,
  .grid-form-home-coc,
  .grid-form-cfs-01 {
    display: block;
  }

  .grid-form-home-cfs {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .grid-form-home-coc {
    grid-column: 13 / 15;
    grid-row: 1 / 1;
  }

  .grid-form-cfs-01 {
    grid-column: 3 / 12;
    grid-row: 2 / 5;
  }

  .svg-scale {
    transform: scale(3);
  }
}




.responsive-image-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
}

.responsive-image-wrapper img, .responsive-image-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
