.section-ornament {
  padding: 3rem 0;
  @media (--medium) {
    padding: 7rem 0 9.4375rem;
  }
}

.section-ornament--right {
  @media (--medium) {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
    }
    &::before {
      background-image: url('contents:svg/ornament-a-small.svg');
      top: -4.4375rem;
      right: 7.4375rem;
      width: 8.875rem;
      height: 8.875rem;
    }
    &::after {
      background-image: url('contents:svg/ornament-a-big.svg');
      top: -11.4375rem;
      right: -15.4375rem;
      width: 22.875rem;
      height: 22.875rem;
    }
  }
  @media (--large) {
    &::before {
      right: 0;
    }
    &::after {
      right: -22.875rem;
    }
  }
}

.section-ornament--left {
  @media (--medium) {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
    }
    &::before {
      background-image: url('contents:svg/ornament-b-small.svg');
      top: -3.6875rem;
      left: 7.09375rem;
      width: 7.375rem;
      height: 7.375rem;
    }
    &::after {
      background-image: url('contents:svg/ornament-b-big.svg');
      top: -11.09375rem;
      left: -15.09375rem;
      width: 22.1875rem;
      height: 22.1875rem;
    }
  }
  @media (--large) {
    &::before {
      left: 0;
    }
    &::after {
      left: -22.5875rem;
    }
  }
}
