:root {
  font-size: 100%; /* 16px */
}

body {
  font-family: "jaf-domus", Helvetica, Arial, sans-serif;
  font-variant: diagonal-fractions;
  line-height: 1.666;
  letter-spacing: 0.025em;
  color: var(--evalblack);
  background-color: var(--promiselinen);
  background-image: url('contents:images/pattern.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body.design-2019 {
  background-image: none;
}

input, button, textarea {
  font-family: "jaf-domus", Helvetica, Arial, sans-serif;
}

/* Typography */

p, ul, ol, blockquote {
  line-height: 1.6364;
}

p, ul, ol, blockquote {
  @media (--xsmall) {
    font-size: 1.375rem;
  }
  @media (--medium) {
    font-size: 1.5rem;
  }
}

main {
  @media (--xsmall) {
    font-size: 1.375rem;
  }
}


h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1, .heading--massive {
  font-size: 3rem;
  line-height: .9375;
  margin-bottom: .5rem;
  padding-bottom: 0;
  border-bottom: none;
  text-transform: none;
  letter-spacing: normal;
  text-align: center;
  @media (--xsmall) {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    padding-bottom: 0;
  }
  @media (--medium) {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    padding-bottom: 0;
    text-align: left;
  }
  @media (--xlarge) {
    font-size: 6rem;
    line-height: .9444;
  }
}

h2, .h2 {
  font-size: 1rem;
  line-height: 1.625;
  @media (--xsmall) {
    font-size: 1.375rem;
  }
}

h2, .heading--spaced {
  line-height: 1.625;
  text-transform: uppercase;
  font-variant: lining-nums;
  letter-spacing: 0.25em;
  padding-bottom: .5rem;
  border-bottom: 4px solid var(--evalblack);
  display: inline-block;
  margin-bottom: 0;
  margin-top: 1.5rem;
  @media (--xsmall) {
    margin-bottom: 0.25rem;
    padding-bottom: 0.45rem;
  }
}

.page--newslist h2 {
  display: block;
}

.heading--no-border {
  border-bottom: none;
  padding-bottom: 0;
}

.heading--section {
  margin-bottom: 0;
  @media (--small) {
    margin-bottom: 0;
  }
  @media (--medium) {
    margin-bottom: 0;
  }
}

.heading--footer {
  --max-width: 60%;
  border-color: var(--promiselinen);
  color: var(--promiselinen);
  margin-top: 3rem;
  text-align: center;
  @media (--medium) {
    max-width: var(--max-width);
    text-align: center;
  }
  @media (--xlarge) {
    --max-width: 50%;
  }
}
