:root {
  --callbackpink: #E10079;
  --timeoutblue: #051ADD;
  --undefinedpurple: #6058C5;
  --evalblack: #303F62;
  --returnrose: #FFC4BC;
  --getdaycloud: #DDE4F2;
  --promiselinen: #F3ECDA;
  --evalblacklight: #7B889D;
  --clearwhite: #FFFFFF;

  --x-white: #FFFFFF;
  --x-beige: #F3ECDA;
  --x-salmon-100: #FFD2BB;
  --x-salmon-200: #FB8A8B;
  --x-salmon-300: #F76272;
  --x-salmon-400: #F33A58;
  --x-pink: #E10079;
  --x-purple: #A231EF;
  --x-darkblue: #15216B;
  --x-slateblack-100: #7B889D;
  --x-slateblack-700: #303F62;
}
