:root {
  --callbackpink: #E10079;
  --timeoutblue: #051ADD;
  --undefinedpurple: #6058C5;
  --evalblack: #303F62;
  --returnrose: #FFC4BC;
  --getdaycloud: #DDE4F2;
  --promiselinen: #F3ECDA;
  --evalblacklight: #7B889D;
  --clearwhite: #FFFFFF;
}
