{% macro svgIcon(contents, id, svgClass, width = 16, height = 16, title = '') %}
  <svg viewbox="0 0 {{ width }} {{ height }}" class="svg svg-{{ id }} {{ svgClass }}">
    {% if title %}
      <title id='title-{{ id }}'>{{ title }}</title>
    {% endif %}
    <image xlink:href="{{ contents.svg[id + '.svg'].url }}"
        loading="eager"
        decoding="async"
        height="{{ height }}px"
        width="{{ width }}px"/>
  </svg>
  <link rel=preload as=image href="{{ contents.svg[id + '.svg'].url }}">
{% endmacro %}

{% macro callForSpeakersButton(link, additionalClasses = '') %}
  <section class="tc grid mv4 {{ additionalClasses }}">
    <p class="grid-item-center">
      <a href="{{ link }}" class="btn">
        Submit a Proposal Now
      </a>
    </p>
  </section>
{% endmacro %}

{% macro scholarshipApplyButton(link) %}
  <section class="tc grid mv4">
    <p class="grid-item-center">
      <a href="{{ link }}" class="btn">
        Apply now!
      </a>
    </p>
  </section>
{% endmacro %}

{% macro phantoms(contents, totalCount, releasedCount) %}
  {% for phantom in range(0, totalCount - releasedCount) %}
    <section class="grid-item-speaker phantom">
      <div class="speaker">
        <figure class="ma0 speaker-picture">
          <img
              loading="lazy"
              src="{{ contents.images.placeholder['speaker-placeholder-' + (phantom % 6) + '.jpg'].url }}"
              alt="Photo of a bear used as a placeholder because of a missing image.">
        </figure>
        <h2 class="heading--spaced heading--no-border">Coming soon</h2>
        <p class="ma0">To be announced on <a href="https://twitter.com/jsconfeu">@jsconfeu</a></p>
      </div>
    </section>
  {% endfor %}
{% endmacro %}

{% macro gridItem(contents, page, twitterLink = false) %}
  <section class="grid-item-speaker">
    {% set data = page.metadata.data %}
    {% set link = page.url %}
    {% if twitterLink %}
      {% set link = data.web.twitter.url %}
    {% endif %}

    <a class="speaker" href="{{ link }}">
      {% include './partials/speaker-picture.html.njk' %}

      <h2 class="heading--spaced heading--no-border">{{ data.name }}</h2>
      <p class="ma0">
        {% if twitterLink %}
          @{{ data.web.twitter.handle }}
        {% else %}
          {{ data.talkTitle }}
        {% endif %}
      </p>
    </a>
  </section>
{% endmacro %}

{% macro speakersGrid(contents, pages, withPhantoms = false) %}
  <div class="grid">
    {% for page in pages %}
      {{ gridItem(contents, page) }}
    {% endfor %}
    {% if withPhantoms %}
      {{ phantoms(contents, 48, pages.length) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro artistMcGrid(contents, pages) %}
  <div class="grid">
    {% for page in pages %}
      {{ gridItem(contents, page, true) }}
    {% endfor %}
  </div>
{% endmacro %}
