{% macro svgIcon(contents, id, svgClass, width = 16, height = 16, title = '') %}
  <svg viewbox="0 0 {{ width }} {{ height }}" class="svg svg-{{ id }} {{ svgClass }}">
    {% if title %}
      <title id='title-{{ id }}'>{{ title }}</title>
    {% endif %}
    <image xlink:href="{{ contents.svg[id + '.svg'].url }}"
        loading="eager"
        decoding="async"
        height="{{ height }}px"
        width="{{ width }}px"/>
  </svg>
  <link rel=preload as=image href="{{ contents.svg[id + '.svg'].url }}">
{% endmacro %}

{% macro callForSpeakersButton(link, additionalClasses = '') %}
  <section class="tc grid mv4 {{ additionalClasses }}">
    <p class="grid-item-center">
      <a href="{{ link }}" class="btn">
        Submit a Proposal Now
      </a>
    </p>
  </section>
{% endmacro %}

{% macro scholarshipApplyButton(link) %}
  <section class="tc grid mv4">
    <p class="grid-item-center">
      <a href="{{ link }}" class="btn">
        Apply now!
      </a>
    </p>
  </section>
{% endmacro %}

{% macro artistMcGrid(contents, pages) %}
    <div class="grid">
      {% for page in pages %}
        <section class="grid-item-speaker">
          {% set data = page.metadata.data %}
          <a class="speaker" href="{{ data.web.twitter.url }}">
            {% include './partials/speaker-picture.html.njk' %}

            <h2 class="heading--spaced heading--no-border">{{ data.name }}</h2>
            <p class="ma0">@{{ data.web.twitter.handle }}</p>
          </a>
        </section>
      {% endfor %}
    </div>
  {% endmacro %}